# Ignore everything inside src
*

# BUT include these folders
!components/
!pages/
!assets/

# Include all files inside them
!components/**
!pages/**
!assets/**

# Include this gitignore file itself
!.gitignore
