# Ignore everything in src
*

# Include required folders
!components/
!pages/
!assets/
!data/
!context/

# Include all files inside them
!components/**
!pages/**
!assets/**
!data/**
!context/**

# Include this gitignore file
!.gitignore
